i {
    display: inline-block;
}

.lin {
    width: 28px;
    height: 28px;
    background: url("../img/linkedin.png") no-repeat;
    background-size: 28px;
}

.github {
    width: 28px;
    height: 28px;
    background: url("../img/github-circle.png") no-repeat;
    background-size: 28px;
}